@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@700;900&display=swap');

* {
   margin: 0;
   padding: 0;
}

.box {
   display: flex;


   height: 100px;
   width: 100%;

}

.box1 {
   background-color: #000;
   height: 150px;
   width: 50%;
   color: #fff;

}

.box2 {
   background-color: #ff0000;
   height: 150px;
   width: 50%;
   color: #fff;
   text-align: center;


}

.box1 h2 {

   font-weight: 700;
   font-size: 41px;

}

.box1 p {


   font-size: 12px;
}






.box1 {
   background-color: #000;
   height: 150px;
   width: 50%;
   color: #fff;
   text-align: center;
}



.box2 h2 {

   font-weight: 700;
   font-size: 41px;

}

.box2 p {

   font-size: 14px;

}

.pt {
   margin-top: 70px;
}

.invoicedt {
   display: flex;
   font-size: 16px;
   justify-content: space-between;
   margin: 119px;

}

.invoicedt h2 {
   color: #ff0000;
}

.pr {
   background-color: #ff0000;

   height: 40px;
}

table {
   width: 100%;

}

table thead {
   color: #fff;
   background-color: #000;
}

table,
tr,
th {
   border-collapse: collapse;
   height: 50px;
}


.con {

   width: 1100px;
   margin: 0 auto;
   margin-bottom: 30px;
}

.cl {
   background-color: #000;

}


.pf {
   border-bottom: 1px dotted black;
}
table tfoot{
   height:50px;
   background-color: #ff0000;
   color: #fff;
}
